<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://nmjtswtqwwxxwiolgsnk.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5tanRzd3Rxd3d4eHdpb2xnc25rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0MjQ1MTUsImV4cCI6MjA5MDAwMDUxNX0.yIDvSGchHhBkj8d5hKcD8u_x5PC0de6c8fcjn6Yp3qo</string>
</dict>
</plist>
