<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAlarmKitUsageDescription</key>
	<string>Mora uses alarms for tasks you mark as urgent. Alarm delivery depends on your device permissions and settings.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>trident-KR.ADHD</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mora</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
